//  #F3B4AF、#FF8574、#F250B1、#EB33D3、#E418F3
.iep-hongdu-v1 {
  color: #f3b4af;
}
.iep-hongdu-v1-bg {
  background: rgba(243, 180, 175, 0.1);
}
.iep-hongdu-v2 {
  color: #ff8574;
}
.iep-hongdu-v2-bg {
  background: rgba(255, 133, 116, 0.1);
}
.iep-hongdu-v3 {
  color: #f250b1;
}
.iep-hongdu-v3-bg {
  background: rgba(242, 80, 177, 0.1);
}
.iep-hongdu-v4 {
  color: #eb33d3;
}
.iep-hongdu-v4-bg {
  background: rgb(235, 51, 211, 0.1);
}
.iep-hongdu-v5 {
  color: #e418f3;
}
.iep-hongdu-v5-bg {
  background: rgba(228, 24, 243, 0.1);
}
// 合伙人：rgb #A6A6A6 #DEBD84 #FFA820 #FF6166 #787AF6

.iep-vip-v1 {
  color: #a6a6a6;
}
.iep-vip-v1-bg {
  background: rgba(166, 166, 166, 0.1);
}
.iep-vip-v2 {
  color: #debd84;
}
.iep-vip-v2-bg {
  background: rgba(222, 189, 132, 0.1);
}
.iep-vip-v3 {
  color: #ffa820;
}
.iep-vip-v3-bg {
  background: rgba(255, 168, 32, 0.1);
}
.iep-vip-v4 {
  color: #ff6166;
}
.iep-vip-v4-bg {
  background: rgba(255, 97, 102, 0.1);
}
.iep-vip-v5 {
  color: #787af6;
}
.iep-vip-v5-bg {
  background: rgba(120, 122, 246, 0.1);
}
