.box {
  border: 1px solid $--border-color;
  border-radius: $--border-radius-base;
  padding: 20px;
  height: 100%;
  box-sizing: border-box;
  .sub-title {
    font-family: "微软雅黑";
    color: $--color-text-primary;
  }
}
